@import url('../public/font/Roboto/Roboto.scss');

$black: #121212;
$white: #e7e7e7;



* {
    transition: all .3s ease-in-out;
    margin: 0;
    padding: 0;
    color: $black;
    font-family: 'Roboto';
}

body.light {
    background-color: $white;
}
.light * {
    color: $black;
    background-color: $white;
}

body.dark {
    background-color: $black;
}
.dark * {
    color: $white;
    background-color: $black;
}