$black: #121212;
$white: #e7e7e7;
* {
    margin: 0;
    padding: 0;
    color: $black;
}

body.light {
    background-color: $white;
}
.light * {
    color: $black;
}

body.dark {
    background-color: $black;
}
.dark * {
    color: $white;
}