@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto italic';
    src: url('./Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}